<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="any">
         <run
               class="org.eclipse.fx.ui.di.DIApplication">
               <parameter name="mainClass" value="ru.agentlab.oomph.launcher.MainApplication" />
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.agentlab.oomph.launcher.application"
            name="ru.agentlab.oomph.launcher">
         <property
               name="appName"
               value="ru.agentlab.oomph.launcher">
         </property>
      </product>
   </extension>

</plugin>
